In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel(r'C:\Users\Admin\Desktop\school\Advanced Machine Learning\Project advanced ML\clinical.tcgaSTAD.xlsx')

In [3]:
df1 = pd.read_excel(r'C:\Users\Admin\Desktop\school\Advanced Machine Learning\Project advanced ML\cnv_chromosomes.xlsx')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2717 entries, 0 to 2716
Data columns (total 17 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Cancer Type                        2717 non-null   object
 1   Donor ID                           2717 non-null   object
 2   Sex                                2717 non-null   object
 3   Age at diagnosis                   2672 non-null   float64
 4   Age at last follow-up              2672 non-null   float64
 5   Disease status last follow-up      1505 non-null   object
 6   Interval of last follow-up (days)  2402 non-null   float64
 7   Donor vital status                 2717 non-null   object
 8   ICD-10                             2717 non-null   object
 9   Specimen ID                        2717 non-null   object
 10  Specimen type                      2717 non-null   object
 11  Tumour confirmed                   1558 non-null   object
 12  Digital image of stained section   2153 non-null   object
 13  Specimen notes                     2717 non-null   object
 14  Sample ID                          2717 non-null   object
 15  Sample type                        2717 non-null   object
 16  Sample notes                       2717 non-null   object
dtypes: float64(3), object(14)
memory usage: 361.0+ KB

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 773434 entries, 0 to 773433
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Cancer Type           773434 non-null  object
 1   Assembly Version      773434 non-null  object
 2   Chromosome            737671 non-null  float64
 3   Chromosome start      773434 non-null  int64
 4   Chromosome end        773434 non-null  int64
 5   Mutation ID           773434 non-null  int64
 6   Mutation type         773434 non-null  object
 7   Segment mean          773434 non-null  float64
 8   Analysis ID           773434 non-null  int64
 9   Platform              773434 non-null  object
 10  Raw data repository   773434 non-null  object
 11  Raw data accession    773434 non-null  object
 12  Donor ID              773434 non-null  object
 13  Sex                   773434 non-null  object
 14  Age at diagnosis      771828 non-null  float64
 15  ICD-10                773434 non-null  object
 16  Specimen ID           773434 non-null  object
 17  Specimen type         773434 non-null  object
 18  Tumour confirmed      403678 non-null  object
 19  Analyzed sample ID    773434 non-null  object
 20  Sample type           773434 non-null  object
 21  Matched sample ID     389485 non-null  object
 22  Initial Release Date  0 non-null       float64
dtypes: float64(4), int64(4), object(15)
memory usage: 135.7+ MB

In [8]:
df.dropna(subset=['Tumour confirmed'],inplace=True)
df1.dropna(subset=['Tumour confirmed'],inplace=True)

In [17]:
df.dropna(subset=['Interval of last follow-up (days)'],inplace=True)
df.drop(columns=['Disease status last follow-up'],inplace=True)

In [18]:
df1.dropna(subset=['Chromosome'],inplace=True)

In [15]:
df1.drop(columns=['Matched sample ID'],inplace=True)

In [25]:
df1.drop(columns=['Initial Release Date'],inplace=True)

In [19]:
df.reset_index(inplace=True)
df1.reset_index(inplace=True)

In [26]:
df.info()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1370 entries, 0 to 1369
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   level_0                            1370 non-null   int64
 1   index                              1370 non-null   int64
 2   Cancer Type                        1370 non-null   object
 3   Donor ID                           1370 non-null   object
 4   Sex                                1370 non-null   object
 5   Age at diagnosis                   1370 non-null   float64
 6   Age at last follow-up              1370 non-null   float64
 7   Interval of last follow-up (days)  1370 non-null   float64
 8   Donor vital status                 1370 non-null   object
 9   ICD-10                             1370 non-null   object
 10  Specimen ID                        1370 non-null   object
 11  Specimen type                      1370 non-null   object
 12  Tumour confirmed                   1370 non-null   object
 13  Digital image of stained section   1370 non-null   object
 14  Specimen notes                     1370 non-null   object
 15  Sample ID                          1370 non-null   object
 16  Sample type                        1370 non-null   object
 17  Sample notes                       1370 non-null   object
dtypes: float64(3), int64(2), object(13)
memory usage: 192.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383891 entries, 0 to 383890
Data columns (total 23 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   level_0              383891 non-null  int64
 1   index                383891 non-null  int64
 2   Cancer Type          383891 non-null  object
 3   Assembly Version     383891 non-null  object
 4   Chromosome           383891 non-null  float64
 5   Chromosome start     383891 non-null  int64
 6   Chromosome end       383891 non-null  int64
 7   Mutation ID          383891 non-null  int64
 8   Mutation type        383891 non-null  object
 9   Segment mean         383891 non-null  float64
 10  Analysis ID          383891 non-null  int64
 11  Platform             383891 non-null  object
 12  Raw data repository  383891 non-null  object
 13  Raw data accession   383891 non-null  object
 14  Donor ID             383891 non-null  object
 15  Sex                  383891 non-null  object
 16  Age at diagnosis     383083 non-null  float64
 17  ICD-10               383891 non-null  object
 18  Specimen ID          383891 non-null  object
 19  Specimen type        383891 non-null  object
 20  Tumour confirmed     383891 non-null  object
 21  Analyzed sample ID   383891 non-null  object
 22  Sample type          383891 non-null  object
dtypes: float64(3), int64(6), object(14)
memory usage: 67.4+ MB

In [23]:
df.describe()

,level_0,index,Age at diagnosis,Age at last follow-up,Interval of last follow-up (days)
count,1370.000000,1370.000000,1370.000000,1370.000000,1370.000000
mean,718.739416,1279.985401,66.675912,66.891971,128.410219
std,440.891305,769.421198,10.947184,11.089516,334.329375
min,0.000000,0.000000,34.000000,34.000000,0.000000
25%,342.250000,616.250000,58.000000,58.000000,0.000000
50%,684.500000,1278.500000,68.000000,68.000000,15.000000
75%,1072.750000,1890.750000,75.000000,75.000000,66.000000
max,1557.000000,2709.000000,90.000000,93.000000,2131.000000

In [27]:
df1.describe()

,level_0,index,Chromosome,Chromosome start,Chromosome end,Mutation ID,Segment mean,Analysis ID,Age at diagnosis
count,383891.000000,383891.000000,383891.000000,3.838910e+05,3.838910e+05,3.838910e+05,383891.000000,383891.000000,383083.000000
mean,194440.088189,375591.864086,8.922785,6.824202e+07,7.751978e+07,1.982294e+06,-0.208164,12100.070588,60.903799
std,114720.138590,219366.100839,5.944687,5.727704e+07,5.842822e+07,2.747587e+05,0.907335,1304.096320,11.804977
min,0.000000,1.000000,1.000000,5.260000e+02,1.588000e+03,1.529304e+06,-7.750000,11512.000000,19.000000
25%,95972.500000,188993.000000,4.000000,2.130267e+07,3.012685e+07,1.746846e+06,-0.530000,11515.000000,53.000000
50%,191945.000000,370315.000000,8.000000,5.427117e+07,6.462757e+07,1.950092e+06,-0.020000,11518.000000,61.000000
75%,287917.500000,556914.500000,13.000000,1.053392e+08,1.141436e+08,2.233066e+06,0.200000,12169.000000,68.000000
max,403677.000000,773432.000000,22.000000,2.492129e+08,2.492244e+08,2.492800e+06,6.100000,16277.000000,90.000000

In [37]:
result=pd.merge(df,df1, on='Donor ID',how='inner')

In [38]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 40 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   level_0_x                          0 non-null      int64
 1   index_x                            0 non-null      int64
 2   Cancer Type_x                      0 non-null      object
 3   Donor ID                           0 non-null      object
 4   Sex_x                              0 non-null      object
 5   Age at diagnosis_x                 0 non-null      float64
 6   Age at last follow-up              0 non-null      float64
 7   Interval of last follow-up (days)  0 non-null      float64
 8   Donor vital status                 0 non-null      object
 9   ICD-10_x                           0 non-null      object
 10  Specimen ID_x                      0 non-null      object
 11  Specimen type_x                    0 non-null      object
 12  Tumour confirmed_x                 0 non-null      object
 13  Digital image of stained section   0 non-null      object
 14  Specimen notes                     0 non-null      object
 15  Sample ID                          0 non-null      object
 16  Sample type_x                      0 non-null      object
 17  Sample notes                       0 non-null      object
 18  level_0_y                          0 non-null      int64
 19  index_y                            0 non-null      int64
 20  Cancer Type_y                      0 non-null      object
 21  Assembly Version                   0 non-null      object
 22  Chromosome                         0 non-null      float64
 23  Chromosome start                   0 non-null      int64
 24  Chromosome end                     0 non-null      int64
 25  Mutation ID                        0 non-null      int64
 26  Mutation type                      0 non-null      object
 27  Segment mean                       0 non-null      float64
 28  Analysis ID                        0 non-null      int64
 29  Platform                           0 non-null      object
 30  Raw data repository                0 non-null      object
 31  Raw data accession                 0 non-null      object
 32  Sex_y                              0 non-null      object
 33  Age at diagnosis_y                 0 non-null      float64
 34  ICD-10_y                           0 non-null      object
 35  Specimen ID_y                      0 non-null      object
 36  Specimen type_y                    0 non-null      object
 37  Tumour confirmed_y                 0 non-null      object
 38  Analyzed sample ID                 0 non-null      object
 39  Sample type_y                      0 non-null      object
dtypes: float64(6), int64(8), object(26)
memory usage: 0.0+ bytes

In [40]:
common_values = df1['Donor ID'].isin(df['Donor ID']).any()
common_values

False

In [42]:
df.to_excel(r'C:\Users\Admin\Desktop\school\Advanced Machine Learning\Project advanced ML\df1.xlsx',index=False)
df1.to_excel(r'C:\Users\Admin\Desktop\school\Advanced Machine Learning\Project advanced ML\df2.xlsx',index=False)